<div class="form-group">
    <div class="row text-center">
        <div class="col-12"><div class="subtitle">¿QUE TIPO DE BODEGA NECESITAS?</div></div>
        <div class="col-12">eque porro quisquam est qui dolorem ipsum quia dolor sit</div>
    </div>
    <div class="row text-center">
        <br>
        <div class="col-12" >
            <button type="button" class="btn-mudarte" ui-sref="miniBodegas.second_step">Residencial</button>
            <span class="espace"></span>
            <a href="/mini-bodegas-informacion/"><button type="button" class="btn-mudarte">Industrial</button></a>
        </div>
    </div>
    <div class="row text-center">
        <br>
        <br>
        <div class="col-12" >
            <button type="button" ui-sref="miniBodegas.second_step" class="btn-mudarte mudarte-color">Siguiente</button>
        </div>
    </div>
    <br>
    <br>
</div>