<div class="form-group">
    <div class="form-group text-center">
        <label class="col-2 col-form-label">PERSONALIZA TU PLAN</label>
            <label class="col-2 col-form-label">Agrega extras a tu plan para que no te falta nada</label>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12"><strong>Informacion del cliente</strong></div>
                <div class="col-md-12"><div class="separator-left"></div></div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.firstName" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.lastName" placeholder="Apellidos">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.zipCode" placeholder="Codigo Postal">
                    </div>
                </div>
                <div class="col-md-6">
                    confirmar direccion
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.direction" placeholder="Calle">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.exteriorNumber" placeholder="Numero Exterior">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.interiorNumber" placeholder="Numero Interior">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.extraDirection" placeholder="Entre calle y calle, o informacion adicional">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.colony" placeholder="Colonia">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.delegation" placeholder="Delegacion o municipio">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><div class="separator-left"></div></div>
                <br>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.phone  " placeholder="Telefono de contacto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$ctrl.formData.objUser.email" placeholder="Correo electronico">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><div class="separator-left"></div></div>
                <br>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombretarjetahabiente">Nombre del tarjeta habiente</label>
                        <input type="text" class="form-control" id="nombretarjetahabiente" placeholder="Ej. Oscar Robles Torres" size="20" ng-model="$ctrl.formData.card.name" />
                    </div>
                    <div class="form-group">
                        <label for="tarjeta">Número de la tarjeta de crédito</label>
                        <input type="text" class="form-control" id="tarjeta" placeholder="Ej. 87129873" size="20" ng-model="$ctrl.formData.card.number" />
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-row">
                        <label>
                            <span>CVC</span>
                            <input type="text" size="4" ng-model="$ctrl.formData.card.cvc"/>
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Fecha de expiración (MM/AAAA)</span>
                        </label>
                        <div class="col-md-6 form-group">
                            <input type="text" size="2" placeholder="Mes" ng-model="$ctrl.formData.card.exp_month"/>
                        </div>

                        <div class="col-md-6 form-group">
                            <input type="text" placeholder="Año" size="4" ng-model="$ctrl.formData.card.exp_year"/>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn-mudarte mudarte-color" ui-sref="miniBodegas.third_step">
                Regresar
            </button>
        </div>
        <div class="col-md-4 plan-box">
            <div class="text-center">
                <div class="col-md-12">
                    <img src="/wp-content/themes/moving/angular/assets/images/{{package.image}}" >
                </div>
                <strong>{{$ctrl.formData.package.title}}</strong>
                <div class="separator"></div>
            </div>

            <div class="row">
                <div class="col-md-8"><strong>Fecha: </strong> {{$ctrl.formData.date  | date }}</span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Hora: </strong> {{$ctrl.formData.hour}}</span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Origen: </strong>{{$ctrl.formData.origin.vicinity}} </span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Destino: </strong> {{$ctrl.formData.destination.vicinity}}</span></div>

            </div>
            <div class="row" ng-show="$ctrl.formData.addons.length">
                <div class="col-md-12"><strong>Material adicional</strong></div>
                <div class="col-md-12"><div class="separator-left"></div></div>
            </div>
            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" ng-show="item.qty">
                    <div class="col-md-1" >
                        <span>{{item.qty}}</span>
                    </div>
                    <div class="col-md-7">{{item.description}}</div>
                    <div class="col-md-3">{{item.cost * item.qty}}</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    TOTAL
                    <div class="price"> <span class="color-mudarte price">$</span>{{total()}}</div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="button" class="btn-mudarte mudarte-color" ng-click="fnPayment()">
                        Pagar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
