<div class="cotizador">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div id="form-container">
                <div class="text-center">
                    <span aria-hidden="true" class="lnr lnr-database logo-cotizador"></span>

                    <div class="row">
                        <div class="col-12"><div class="tittle">Cotizador Mini-Bodegas</div></div>
                    </div>
                </div>
                <!-- use ng-submit to catch the form submission and use our Angular function -->
                <form id="mudanza" ng-submit="processForm()">
                    <!-- our nested state views will be injected here -->
                    <div id="form-views" ui-view></div>
                </form>
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" class="linkDisabled coti-bullet" ui-sref=".first_step"></a>
                    <a ui-sref-active="active" class="linkDisabled coti-bullet" ui-sref=".second_step"></a>
                    <a ui-sref-active="active" class="linkDisabled coti-bullet" ui-sref=".third_step"></a>
                    <a ui-sref-active="active" class="linkDisabled coti-bullet" ui-sref=".five_step"></a>
                </div>
            </div>
        </div>
    </div>
</div>