
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { left:30px; right:30px;
  transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;

}

/* enter animation */
#form-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(200%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(200%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(200%); }
  to 		{ -webkit-transform: translateX(0); }
}


.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden
}

.pac-container:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 16px;
  text-align: right;
  display: block;
  background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 104px 16px
}

.hdpi.pac-container:after {
  background-image: url(//maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2_hdpi.png)
}

.pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: #999
}

.pac-item:hover {
  background-color: #fafafa
}

.pac-item-selected, .pac-item-selected:hover {
  background-color: #ebf2fe
}

.pac-matched {
  font-weight: 700
}

.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000
}
.pac-icon {
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(//maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px
}


.hdpi .pac-icon {
  background-image: url(//maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}

.pac-icon-search {
  background-position: -1px -1px
}

.pac-item-selected .pac-icon-search {
  background-position: -18px -1px
}

.pac-icon-marker {
  background-position: -1px -161px
}

.pac-item-selected .pac-icon-marker {
  background-position: -18px -161px
}

.pac-placeholder {
  color: gray
}

.custom-prediction-label {
  font-style: italic;
}
.cotizador{
  font-family:  "Montserrat", sans-serif;
  background: #502CB6;
  color: #FFF;
  padding-top: 200px;
  padding-bottom: 9px;
 
  .logo-cotizador{
    font-size: 35px;
  }
  .tittle{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;
  }
  .price{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }
  h2{
    color: #FFF;
  }
  .subtitle{
    font-size: 15px;
    font-weight: bold;
  }
  .btn-mudarte {
    font-family:  "Montserrat", sans-serif;
    font-size: 18px;
    color: #FFF;
    background-color: transparent;
    border: #FF7300 1.5px solid ;
    border-radius: 25px;
    padding: 7px 40px;
  }
  .btn-mudarte:hover {
    color: #FF7300;
    border: #FFF 1.5px solid;
  }
  .espace{
    margin-left: 20px;
  }
  .mudarte-color{
    background-color: #FF7300;
    &:hover{
      color: #FFF;
    }
  }
  .plan-box{
    margin: 20px 0px;
    min-height: 700px;
    padding: 20px 5px;
    border: 1.5px solid #fff;
    border-radius: 10px;
    display: table;
    ul{
      line-height: 18px;

    }
    li{
      padding: 8px 0px;
    }
    .boton-plan-box{
      display: table-row-group;
    };
    .color-mudarte{
      color: #FF7300;
    }
    .separator{
      height:1px;
      background:#FF7300;
      border-bottom:2px solid #FF7300;
      margin-left: 45%;
      margin-right: 45%;
    }

  }
  .separator-left{
    height:1px;
    background:#FF7300;
    border-bottom:2px solid #FF7300;
    margin-right: 90%;
    margin-left: 5px;
  }
  .mudarte-input {
    display: block;
    width: 100%;
    padding: 10px 30px;
    background: #fff;
    color: #999999;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #999999;
    margin: 0 0 25px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    line-height: 18px;
  }
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
.coti-bullet {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #7254EB;
  box-shadow: inset 0 0 0 2px #7254EB;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
}
.active{
   box-shadow: inset 0 0 0 2px #7254EB;
   -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background-color: #FFF;
}

