<section class="home">
    <span aria-hidden="true" class="lnr lnr-database"></span>
    <h1>Cotizador</h1>
    <h3>ELIGE EL TIPO DE SERVICIO QUE NECESITAS</h3>
    <span>Lorme impsu</span>
    <form class="quote-form">
            <select name="repeatSelect" id="services" ng-model="$ctrl.service">
                <option value="" selected>Seleciona un tipo de servicio</option>
                <option value="carga">Personal de carga</option>
                <option value="renta_remolque">Renta de remolque</option>
                <option value="renta_chofer">Renta de remolque y camioneta con chofer</option>
                <option value="locales">Mudanzas especializadas locales</option>
                <option value="mudarte">Mud-Arte</option>
                <option value="bodegas">Bodegas</option>
            </select>
        <br>
        <input type="button" ng-click="$ctrl.fnStarService()" value="Siguiente">
    </form>
</section>