<div class="form-group">
    <div class="row text-center">
        <div class="col-12"><div class="subtitle">¿EN DONDE NECESITAS LA MUDANZA?</div></div>
        <div class="col-12">eque porro quisquam est qui dolorem ipsum quia dolor sit</div>
    </div>
    <div class="row text-center">
        <br>
        <div class="col-12" >
            <button type="button" class="btn-mudarte" ui-sref="mudanza.second_step">Monterey</button>
            <span class="espace"></span>
          <a href="/mudanzas-contacta-a-un-asesor/">  <button type="button" class="btn-mudarte">Nacional</button></a>
        </div>
    </div>
    <div class="row text-center">
        <br>
        <br>
        <div class="col-12" >
            <button type="button" ui-sref="mudanza.second_step" class="btn-mudarte mudarte-color">Siguiente</button>
        </div>
    </div>
    <br>
    <br>
</div>