<div>
    <div class="text-center">
        <label class="col-2 col-form-label">PERSONALIZA TU PLAN</label>
        <label class="col-2 col-form-label">¿Cuántas personas necesitas? </label>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12"><h2>Material adicional</h2></div>
            </div>
            <div class="row">
                <div class="col-md-6">CONCEPTO</div>
                <div class="col-md-3">PRECIO</div>
                <div class="col-md-3">CANTIDAD</div>
            </div>

            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" style="padding-top: 5px ">
                    <div class="form-group">
                        <div class="col-md-6">{{item.description}} <br ng-if="item.description2"><span ng-if="item.description2">{{item.description2}}</span></br></div>
                        <div class="col-md-3">{{item.cost}}</div>
                        <div class="col-md-2">
                            <!--<input class="form-control" type="number" name="{{item.name}}" min="{{item.min}}"-->
                                   <!--max="{{item.max}}" >-->
                            <select ng-model="item.qty"  class="form-control" style="color: #000000">
                                <option value=""></option>
                                <option  ng-repeat="i in range(item.max,item.min) track by $index" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-12">
                    <button type="button" class="btn-mudarte mudarte-color " ui-sref="mudanza.third_step">
                        Regresar
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4 plan-box">
            <div class="text-center">
                <div class="col-md-12">
                    <img src="/wp-content/themes/moving/angular/assets/images/{{$ctrl.formData.package.image}}" >
                </div>
                <strong>{{$ctrl.formData.package.title}}</strong>
                <div class="separator"></div>
            </div>

            <div class="row">
                <div class="col-md-8"><strong>Fecha: </strong> {{$ctrl.formData.date | date }}</span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Hora: </strong> {{$ctrl.formData.hour}}</span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Origen: </strong>{{$ctrl.formData.origin.vicinity}} </span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Destino: </strong> {{$ctrl.formData.destination.vicinity}}</span></div>

            </div>
            <div class="row" ng-show="$ctrl.formData.addons.length">
                <div class="col-md-12"><strong>Material adicional</strong></div>
                <div class="col-md-12">
                    <div class="separator-left"></div>
                </div>

            </div>
            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" ng-show="item.qty">
                    <div class="col-md-1">
                        <span>{{item.qty}}</span>
                    </div>
                    <div class="col-md-7">{{item.description}}</div>
                    <div class="col-md-3">{{item.cost * item.qty}}</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    TOTAL
                    <div class="price"><span class="color-mudarte price">$</span>{{total()}}</div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="button" class="btn-mudarte mudarte-color " ui-sref="mudanza.five_step">
                        Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
