<div class="row text-center">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <div class="col-12"><div class="subtitle">¿DONDE Y CUANDO?</div></div>
            <div class="col-12">Indicanos la dirección de origen y destino</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6"><input class="controls" type="text" g-places-autocomplete options="autocompleteOptions" ng-model="$ctrl.formData.origin"
                                         placeholder="Origen" ng-change="setOrigin()"></div>
            <div class="col-md-6"><p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.formData.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><span class="lnr lnr-calendar-full"></span></button>
              </span>
            </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><input class="controls" type="text" g-places-autocomplete options="autocompleteOptions" ng-model=" $ctrl.formData.destination"
                                          placeholder="Destino" ng-change="setDestination()"></div>
            <div class="col-md-6"><input class="mudarte-input" onfocus="(this.type='time')" class="form-control" ng-model="$ctrl.formData.hour" placeholder="Hora"></div>
        </div>
        <br>
        <ng-map center="{{positions}}" zoom="10">
            <directions
                    draggable="true"
                    panel="directions-panel"
                    travel-mode="DRIVING"
                    origin="{{$ctrl.formData.origin.formatted_address}}"
                    destination="{{$ctrl.formData.destination.formatted_address}}">
            </directions>
        </ng-map>
        <br>

        <div class="boton-plan-box">
            <button type="button" class="btn-mudarte mudarte-color" ui-sref="mudanza.second_step">
                Regresar
            </button>
            <button type="button" class="btn-mudarte mudarte-color" ng-click="checkDisponibilidad()" ng-disabled="$ctrl.formData.date == undefined  || $ctrl.formData.hour == undefined || $ctrl.formData.origin == undefined || $ctrl.formData.destination == undefined">
                Siguiente
            </button>
        </div>
    </div>
</div>