<div class="form-group">
    <div class="form-group text-center">
        <label class="col-2 col-form-label">PERSONALIZA TU PLAN</label>
        <label class="col-2 col-form-label">Agrega extras a tu plan para que no te falta nada</label>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12"><h2>Material adicional</h2></div>
            </div>

            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" style="padding-top: 5px ">
                    <div class="form-group">
                        <div class="col-md-6">{{item.description}} <br ng-if="item.description2"><span ng-if="item.description2">{{item.description2}}</span></br></div>
                        <div class="col-md-3">{{item.cost}}</div>
                        <div class="col-md-2">
                            <!--<input class="form-control" type="number" name="{{item.name}}" min="{{item.min}}"-->
                            <!--max="{{item.max}}" >-->
                            <select ng-model="item.qty"  class="form-control" style="color: #000000">
                                <option value=""></option>
                                <option  ng-repeat="i in range(item.max,item.min) track by $index" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 plan-box">
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/wp-content/uploads/2018/04/icon-empaque.png" >
                </div>
                <strong>{{$ctrl.formData.package.title}}</strong>
                <div class="separator"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>2 personas para el servicio</li>
                        <li>1 Día(8Horas)</li>
                        <li>Caja de herramientas</li>
                        <li>Escalera chica</li>
                        <li>Acomodo de muebles a su domicilio</li>
                        <li>Des-instalación e instalación de electrodomestios</li>
                        <li>Armado y des-armado de muebles</li>
                        <li>Instalación de cuadros y repisas</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <i>*No incluye clavos, taquetes o materiales de ningun tipo</i>
                        </div>
                        <div class="col-md-12">
                            <i>*No incluye materiales de empaque caso de requerir se cotizan por separado</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="$ctrl.formData.addons.length">
                <div class="col-md-12"><strong>Material adicional</strong></div>
                <div class="col-md-12"><div class="separator-left"></div></div>

            </div>
            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" ng-show="item.qty">
                    <div class="col-md-1" >
                        <span>{{item.qty}}</span>
                    </div>
                    <div class="col-md-7">{{item.description}}</div>
                    <div class="col-md-3">{{item.cost * item.qty}}</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    TOTAL
                    <div class="price"> <span class="color-mudarte price">$</span>{{total()}}</div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="button" class="btn-mudarte mudarte-color " ui-sref="personal.second_step">
                        Continuar
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
