<div class="form-group">
    <div class="form-group text-center">
        <label class="col-2 col-form-label">PERSONALIZA TU PLAN</label>
        <label class="col-2 col-form-label">Agrega extras a tu plan para que no te falta nada</label>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12"><h2>Addons</h2></div>
            </div>
            <div class="row">
                <div class="col-md-6">CONCEPTO</div>
                <div class="col-md-3">PRECIO</div>
                <div class="col-md-3">CANTIDAD</div>
            </div>
            <div class="row" ng-repeat="item in $ctrl.formData.addons">
                <div class="col-md-6">{{item.description}} <br><span>{{item.description2}}</span></br></div>
                <div class="col-md-3">{{item.cost}}</div>
                <div class="col-md-3" >
                    <input type="text" ng-model="item.qty">
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12"><button type="button" class="btn-mudarte mudarte-color " ui-sref="mudanza.third_step">
                    Regresar
                </button>
                </div>
            </div>

        </div>
        <div class="col-md-4 plan-box">
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/wp-content/uploads/2018/04/icon-empaque.png" >
                </div>
                <strong>{{$ctrl.formData.package.title}}</strong>
                <div class="separator"></div>
            </div>

            <div class="row">
                <div class="col-md-8"><strong>Fecha: </strong> {{$ctrl.formData.date  | date }}</span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Hora: </strong> {{$ctrl.formData.hour}}</span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Origen: </strong>{{$ctrl.formData.origin.vicinity}} </span></div>

            </div>
            <div class="row">
                <div class="col-md-8"><strong>Destino: </strong> {{$ctrl.formData.destination.vicinity}}</span></div>

            </div>
            <div class="row">
                <div class="col-md-12"><strong>Addons</strong></div>
                <div class="col-md-12"><div class="separator-left"></div></div>

            </div>
            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" ng-hide="item.qty == 0">
                    <div class="col-md-1" >
                        <span>{{item.qty}}</span>
                    </div>
                    <div class="col-md-7">{{item.description}}</div>
                    <div class="col-md-3">{{item.cost * item.qty}}</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    TOTAL
                    <div class="price"> <span class="color-mudarte price">$</span>{{total()}}</div>
                </div>
                <div class="col-md-12">
                    <br>
                    <button type="button" class="btn-mudarte mudarte-color " ui-sref="mudanza.five_step">
                        Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
