<div class="row">
    <div class="col-md-12 text-center">
        <label class="col-form-label">¿CUANTAS COSAS VAS A MOVER?</label>
        <label class="col-form-label">Elige el paquete que mas te convenga, tambien podras agregar items</label>
    </div>
</div>
 <div class="row">
    <div class="col-md-3 text-center" ng-repeat="package in $ctrl.packages">
        <div class="col-md-12 plan-box">
            <div class="row">
                <div class="col-md-12">
                    <img src="/wp-content/uploads/2018/04/icon-empaque.png" >
                </div>
            </div>
            <strong>{{package.title}}</strong>
            <div class="separator"></div>
            <strong>{{package.description}}</strong>
            <ul class="text-left">
                <li ng-repeat="item in package.items">
                    {{item}}
                </li>
            </ul>

            <div class="row">
                <div class="col-md-12">
                       <div class="price"> <span class="color-mudarte price">$</span>{{package.precio}}</div>
                       <h2>por hora</h2>
                </div>
            </div>
            <div class="boton-plan-box">
                <button type="button" class="btn-mudarte mudarte-color " ng-click="fnSelectPackage(package)">
                    Elegir
                </button>
            </div>
        </div>
    </div>
</div>
