<div class="form-group">
    <div class="form-group">
        <label class="col-2 col-form-label">Tipo de Servicio</label>
        <label class="col-2 col-form-label">Persona de carga</label>
        <label class="col-2 col-form-label">Cuantas personas?</label>
        <div class="col-10">
            <input class="form-control" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="col-2 col-form-label">Cuantas Horas</label>
        <div class="col-10">
            <input class="form-control" type="number" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">En que fecha?</label>
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-2 col-form-label">En que direccion?</label>
    <div class="col-10">
        <input class="form-control">
    </div>
</div>

</div>