<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  
      <div class="page-header text-center">
          <span aria-hidden="true" class="lnr lnr-database"></span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <h1>Cotizador</h1>
          <h3>ELIGE EL TIPO DE SERVICIO QUE NECESITAS</h3>
          <span>Lorme impsu</span>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
      <div id="status-buttons" class="text-center">
          <a ui-sref-active="active" ui-sref=".first_step"><span>1</span> Profile</a>
          <a ui-sref-active="active" ui-sref=".second_step"><span>2</span> Interests</a>
          <a ui-sref-active="active" ui-sref=".third_step"><span>3</span> Payment</a>
          <a ui-sref-active="active" ui-sref=".fourt_step"><span>4</span> Payment</a>
          <a ui-sref-active="active" ui-sref=".five_step"><span>5</span> Payment</a>
      </div>
  
  </div>
  
  <!-- show our formData as it is being typed -->
  <pre>
    {{ formData }}
  </pre>

</div>
</div>
</div>