<label class="col-2 col-form-label">Tipo de Servicio</label>
<label class="col-2 col-form-label">Persona de carga</label>
<div class="form-group">
    <div class="checkbox">
        <label>
           <input type="checkbox" ng-model="formData.personal['material_empaque']">
           Material de Empaque
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="formData.personal['renta_material_empaque']">
            Renta de Material de empaque
        </label>
    </div>
    <div class="checkbox">
        <label>
           <input type="checkbox" ng-model="formData.personal['bodegas']" >
           Bodegas
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="formData.personal['servicio_empaque']" >
           Servicio de Empaque
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="formData.personal['lavadora']" >
            Instalacion / Desinstalacion de lavadora
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="formData.personal['refrigerador']" >
            Instalacion / Desinstalacion de refrigedaror
        </label>
    </div>

</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="movingHelpers.thrid_step" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>