<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>

    <div map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map center="41,-87" zoom="3"></ng-map>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
</div>