.home{
  padding: 70px 0px;
  text-align: center;
  span{
    font-size: 25px;
  }
  h1, h3, span  {
    color: #FFFFFF;
  }
  input{
    color: #fff;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 13px 50px;
    text-transform: uppercase;
    border: none;
    background: #ff7300;
    outline: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    border-radius: 24px;
    box-shadow: 0 0 10px #2b387d;
    -webkit-box-shadow: 0 0 10px #2b387d;
    -moz-box-shadow: 0 0 10px #2b387d;
    -o-box-shadow: 0 0 10px #2b387d;
    margin: 0 10px 10px;
  }

}