<div>
    <div class="text-center">
        <label class="col-2 col-form-label">PERSONALIZA TU PLAN</label>
        <label class="col-2 col-form-label">Agrega extras a tu plan para que no te falta nada</label>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12"><h2>Material adicional</h2></div>
            </div>
            <div class="row">
                <div class="col-md-6">CONCEPTO</div>
                <div class="col-md-3">PRECIO</div>
                <div class="col-md-3">CANTIDAD</div>
            </div>

            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row" style="padding-top: 5px ">
                    <div class="form-group">
                        <div class="col-md-6">{{item.description}} <br ng-if="item.description2"><span ng-if="item.description2">{{item.description2}}</span></br></div>
                        <div class="col-md-3">{{item.cost}}</div>
                        <div class="col-md-2">
                            <!--<input class="form-control" type="number" name="{{item.name}}" min="{{item.min}}"-->
                            <!--max="{{item.max}}" >-->
                            <select ng-model="item.qty"  class="form-control" style="color: #000000">
                                <option value=""></option>
                                <option  ng-repeat="i in range(item.max,item.min) track by $index" value="{{i}}">{{i}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">Recoleccion y entrega de domicilio</div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <select ng-model="domicilio"  class="form-control" style="color: #000000">
                            <option  value="0" selected>No</option>
                            <option  value="1" selected>Si</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div ng-show="domicilio == 1">
                <div class="row">
                    <div class="col-md-6"><input class="controls" type="text" g-places-autocomplete options="autocompleteOptions" ng-model="$ctrl.formData.origin"
                                                 placeholder="Origen" ng-change="setOrigin()"></div>
                    <div class="col-md-6"><p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="$ctrl.formData.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><span class="lnr lnr-calendar-full"></span></button>
              </span>
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input class="controls" type="text" g-places-autocomplete options="autocompleteOptions" ng-model=" $ctrl.formData.destination"
                                                 placeholder="Destino" ng-change="setDestination()"></div>
                    <div class="col-md-6"><input class="mudarte-input" onfocus="(this.type='time')" class="form-control" ng-model="$ctrl.formData.hour" placeholder="Hora"></div>
                </div>
                <br>
                <ng-map center="{{positions}}" zoom="10">
                    <directions
                            draggable="true"
                            panel="directions-panel"
                            travel-mode="DRIVING"
                            origin="{{$ctrl.formData.origin.formatted_address}}"
                            destination="{{$ctrl.formData.destination.formatted_address}}">
                    </directions>
                </ng-map>
                <br>
            </div>
            <div class="row">
                <br>
                <div class="col-md-12"><button type="button" class="btn-mudarte mudarte-color " ui-sref="miniBodegas.second_step">
                    Regresar
                </button>
                </div>
            </div>

        </div>
        <div class="col-md-4 plan-box">
            <div class="text-center">
                <div class="col-md-12">
                    <img src="/wp-content/themes/moving/angular/assets/images/{{package.image}}" >
                </div>
                <strong>{{$ctrl.formData.package.title}}</strong>
                <div class="separator"></div>
            </div>

            <div class="row">
                <div class="col-md-12"><strong>Fecha: </strong> {{$ctrl.formData.date  | date }}</span></div>

            </div>
            <div class="row">
                <div class="col-md-12"><strong>Hora: </strong> {{$ctrl.formData.hour}}</span></div>

            </div>
            <div class="row">
                <div class="col-md-12"><strong>Origen: </strong>{{$ctrl.formData.origin.vicinity}} </span></div>

            </div>
            <div class="row">
                <div class="col-md-12"><strong>Destino: </strong> {{$ctrl.formData.destination.vicinity}}</span></div>

            </div>
            <div class="row" ng-show="$ctrl.formData.addons.length">
                <div class="col-md-12"><strong>Material adicional</strong></div>
                <div class="col-md-12"><div class="separator-left"></div></div>

            </div>
            <div ng-repeat="item in $ctrl.formData.addons">
                <div class="row"  ng-show="item.qty">
                    <div class="col-md-1" >
                        <span>{{item.qty}}</span>
                    </div>
                    <div class="col-md-7">{{item.description}}</div>
                    <div class="col-md-3">{{item.cost * item.qty}}</div>
                </div>
            </div>
            <div class="row text-center">

                <div class="row text-center">
                    <div class="col-md-12">
                        ¿Por Cuantos meses?
                        <div class="col-md-offset-4 col-md-4"><input type="text" ng-model="$ctrl.formData.package.horas">

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            TOTAL
                            <div class="price"> <span class="color-mudarte price">$</span>{{total()}}</div>
                        </div>
                        <p>
                            <button type="button" class="btn-mudarte mudarte-color " ui-sref="miniBodegas.five_step">
                                Continuar
                            </button>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>
